body{
    background-color: rgb(155, 179, 224);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
a{
    color: black;
}
a :hover{
    color: blueviolet;
    font-size: xx-large;
}
p{border-right: dotted;
border-left: dotted;
}
header{
    background-color: aqua;
    text-align: center;
}