body{
    background-color: rgb(155, 179, 224);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-image: url("../ImagesForCozyfam/COZYFAMNEWDESIGNcopy.jpg");
    background-size: cover;
    
    
}
div{
    border-radius: 10px;
    border-style: dotted;
    border-color: brown;
    padding: 100px;
    text-align: left;
    
}
.header{
    text-align: center;
}
a{
    color: black;
}

